.fade-down {
	padding: 7px;
	overflow: auto;
	width: 100%;
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s;
	&.ng-enter{
		position: absolute;
		transform: translate(0, -20px);
		opacity: 0;
	}
	&.ng-leave {
		position: absolute;
		opacity: 1;
		transform: translate(0, 0);
	}
	&.ng-enter.ng-enter-active {
		transform: translate(0, 0);
		opacity: 1;
	}
	&.ng-leave.ng-leave-active {
		transform: translate(0, -20px);
		opacity: 0;
 	}
}

.fade-right {
	position: absolute;
	overflow: auto;
	width: 100%;
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
	&.ng-enter{
		transform: translate(20px, 0);
		opacity: 0;
	}
	&.ng-leave {	
		opacity: 1;
		transform: translate(0, 0);
	}
	&.ng-enter.ng-enter-active {
		transform: translate(0, 0);
		opacity: 1;
	}
	&.ng-leave.ng-leave-active {
		transform: translate(20px, 0);
		opacity: 0;
 	}
}