@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@color: #4CB267;
@color2: #10542a;
@l-gray: #91A193;

@nav-bg: #36333B;
@content-bg: #D5DBD5;
@topbar-bg: #fff;

@gray: #555;

html, body {
	height: 100%;
	font-family: 'Roboto Slab', serif;
	color: #444;
}

a {
	color: @color;
	transition: all ease-in-out 0.2s;
	&:hover {
		color:@color2;
		text-decoration: none;
	}
}

// Login

.login {
	height: 100%; 
	.col-login {
		height: 100%;
		width: 50%;
		float: left;
		display: inline-block;
		.grad {
			height: 100%;
			background: @color2; /* Old browsers */
			background: -moz-linear-gradient(45deg, @color2 0%, @color 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(45deg, @color2 0%,@color 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(45deg, @color2 0%,@color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color2', endColorstr='@color',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			color: #fff;
			text-align: center;
			.small-container {
				padding-top: 50px;
				width: 400px;
				margin: auto;
				.title-icon {
					font-size: 320%;
					margin-bottom: 15px;
				}
				.title {
					font-size: 300%;
					margin-bottom: 15px;
				}
				.subtitle {
					font-size: 150%;
					margin-bottom: 25px;
				}
				.social {
					font-size: 170%;
					.fa {
						margin: 5px;
					}
				}
				.important-btn {
					background: @color;
					color: #fff;
				  border-radius: 30px;
				  padding: 15px 40px;
				  margin-top: 20px;
				  margin-bottom: 20px;
				  border: none;
				  outline: none;
				  &:hover {
				  	background: @color + #222;
				  }
				}
				.footer {
					margin-top: 30px;
					font-size: 80%;
				}
				hr {
					border-color: #fff;
				}
				a {
					color: #fff;
					text-decoration: underline;
				}
			}
		}
		.white-col {
			text-align: center;
			.small-container {
				padding-top: 50px;
				width: 300px;
				margin: auto;
				position:relative;
				.left-aligned-text {
					text-align: left;
				}
				.author {
					color: @l-gray;
					font-size: 90%;
				}
				.header {
					margin-bottom: 30px;
				}
				.important-btn {
					background: @color2; /* Old browsers */
					background: -moz-linear-gradient(45deg, @color2 0%, @color 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(45deg, @color2 0%,@color 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(45deg, @color2 0%,@color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color2', endColorstr='@color',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */		
					color: #fff;
				  border-radius: 30px;
				  padding: 15px 40px;
				  margin-top: 20px;
				  margin-bottom: 20px;
				  border: none;
				  outline: none;
				  &:hover{
				  	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e4926+0,1ab23e+100 */
						background: #0e4926; /* Old browsers */
						background: -moz-linear-gradient(45deg, #0e4926 0%, #1ab23e 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(45deg, #0e4926 0%,#1ab23e 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(45deg, #0e4926 0%,#1ab23e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e4926', endColorstr='#1ab23e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				  }
				}
				.other-btn {
				  border-radius: 30px;
				  padding: 15px 40px;
				  margin-top: 20px;
				}
			}
		}
	}
}

// Content

.nav {
	float: left;
	height: 100%;
	width: 300px;
	background: @nav-bg;
	.user-box {
		height: 80px;
		padding: 20px;
		color: #fff;
		background: @nav-bg + #111;
		.username {
			font-size: 120%;
			font-weight: bold;
		}
	}
	.nav-box {
		padding-top: 5px;
		a {
			display: block;
			color: #fff;
			padding: 5px;
			margin-top: 5px;
			padding-left: 15px;
			font-weight: bold;
			margin-right: 12px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			text-decoration: none;
			&.active {
				background: @color;
			}
			&:hover {
				background: @nav-bg + #111;
			}
		}
		.title {
			margin-left: 10px;
		}
	}
}

.content {
	height: 100%;
	margin-left: 300px;
	background: @content-bg;
	.topbar {
		padding: 20px;
		color: @gray;
		background: @topbar-bg;
		height: 80px;
		.toggle-menu {
			border: none;
			color: #fff;
			background: @color;
			padding:5px 9px;
			margin-right: 15px;
			font-size: 120%;
			outline: none;
			&:hover {
				background: @color2;
			}
		}
		.search {
			border:none;
			font-size: 110%;
			outline: none;
			padding: 5px;
			border-bottom: 1px solid @gray + #666;
			color: @gray;
			transition: all ease-in-out .3;
			&:focus {
				border-bottom: 1px solid @gray + #666;
			}
		}
	}
	.main {
		padding: 20px;
		padding-bottom: 0;
	}
}

// Overrrides 


.container-fluid {
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}

.row {
	margin: 0;
}

.panel {
	border-radius: 1px;
}

.panel-body {
  padding: 20px;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 1px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: @color2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @color;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @color;
}

.btn {
	transition: all ease-in-out 0.2s;
}

.alert {
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -5px;
    color: inherit;
}


