.content {
  width: auto;
  height: 100%;
  background: #D5DBD5;
  transition: all linear 0.3s;
  position: relative;
  overflow: auto;
}
.content .topbar {
  padding: 20px;
  color: #555;
  background: #fff;
  height: 81px;
  position: absolute;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #dbdbdb;
}
.content .topbar .toggle-menu {
  border: none;
  color: #fff;
  background: #0eb779;
  padding: 5px 9px;
  margin-right: 15px;
  font-size: 120%;
  outline: none;
}
.content .topbar .toggle-menu:hover {
  background: #180f3a;
}
.content .topbar .search {
  border: none;
  font-size: 110%;
  outline: none;
  padding: 5px;
  border-bottom: 1px solid #bbbbbb;
  color: #555;
  transition: all ease-in-out 0.3;
}
.content .topbar .search:focus {
  border-bottom: 1px solid #bbbbbb;
}
.content .main {
  width: auto;
  height: 100%;
  padding-bottom: 0;
  position: relative;
  overflow-y: scroll;
  padding-top: 80px;
}
