@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
.pad-top {
  padding-top: 15px;
}
.pad-left-rem {
  padding-left: 0;
}
.pad-right-rem {
  padding-right: 0;
}
.navigation {
  float: left;
  height: 100%;
  width: 250px;
  background: #130d3f;
  transition: all linear 0.3s;
}
.navigation .user-box {
  height: 80px;
  overflow: hidden;
  padding: 16px;
  color: #fff;
  background: #241e50;
}
.navigation .user-box img.user-img {
  width: 50px;
  border: 3px solid #fff;
  display: inline-block;
  border-radius: 50%;
  float: left;
}
.navigation .user-box .user-details {
  padding-left: 20px;
  padding-top: 5px;
  display: inline-block;
}
.navigation .user-box .username {
  font-size: 120%;
  font-weight: bold;
}
.navigation .nav-box a {
  display: block;
  color: #fff;
  padding: 15px;
  padding-left: 20px;
  text-decoration: none;
}
.navigation .nav-box a.active {
  background: #241e50;
}
.navigation .nav-box a:hover {
  background: #464072;
}
.navigation .nav-box .title {
  margin-left: 10px;
}
.navigation.hidden-nav {
  width: 80px;
}
.navigation.titles-hidden .user-box .user-details {
  display: none;
}
.navigation.titles-hidden .nav-box a {
  padding-left: 30px;
}
.navigation.titles-hidden .nav-box .title {
  display: none;
}
@media (max-width: 992px) {
  .navigation {
    width: 80px;
  }
  .navigation .user-box .user-details {
    display: none;
  }
  .navigation .nav-box a {
    padding-left: 30px;
  }
  .navigation .nav-box .title {
    display: none;
  }
  .navigation.hidden-nav {
    width: 0;
  }
  .navigation.titles-hidden .user-box {
    display: none;
  }
  .navigation.titles-hidden .nav-box a {
    display: none;
  }
}
.content {
  width: auto;
  height: 100%;
  background: #D5DBD5;
  transition: all linear 0.3s;
  position: relative;
  overflow: auto;
}
.content .topbar {
  padding: 20px;
  color: #555;
  background: #fff;
  height: 80px;
  position: absolute;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #dbdbdb;
}
.content .topbar .toggle-menu {
  border: none;
  color: #fff;
  background: #0eb779;
  padding: 5px 9px;
  margin-right: 15px;
  font-size: 120%;
  outline: none;
}
.content .topbar .toggle-menu:hover {
  background: #180f3a;
}
.content .topbar .search {
  border: none;
  font-size: 110%;
  outline: none;
  padding: 5px;
  border-bottom: 1px solid #bbbbbb;
  color: #555;
  transition: all ease-in-out 0.3;
}
.content .topbar .search:focus {
  border-bottom: 1px solid #bbbbbb;
}
.content .main {
  width: auto;
  height: 100%;
  padding-bottom: 0;
  position: relative;
  overflow-y: scroll;
  padding-top: 80px;
}
@media (max-width: 992px) {
  .content {
    padding-left: 80px;
  }
  .content.hidden-nav {
    padding-left: 0;
  }
  .content .topbar .search-box {
    display: none;
  }
}
.container-fluid {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin: 0;
}
.panel {
  padding: 15px;
}
.panel .panel-heading {
  background: #fff;
  padding: 5px;
  padding-bottom: 0;
}
.panel .panel-footer {
  background: #fff;
  padding: 15px;
}
.panel-body {
  padding: 15px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #180f3a;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #0eb779;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #0eb779;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
}
.btn {
  transition: all ease-in-out 0.2s;
}
.alert {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -5px;
  color: inherit;
}
.btn-primary {
  color: #fff;
  background-color: #0eb779;
  border-color: #009557;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #00a668;
  border-color: #008446;
}
html,
body {
  height: 100%;
  font-family: 'Fira Sans', serif;
  color: #444;
}
a {
  cursor: pointer;
  color: #0eb779;
  transition: all ease-in-out 0.2s;
}
a:hover {
  color: #009557;
  text-decoration: none;
}
a.underline {
  color: #009557;
  text-decoration: underline;
}
a.underline:hover {
  color: #006224;
}
label {
  margin: 0;
}
.login {
  height: 100%;
}
.login .col-login {
  height: 100%;
  width: 50%;
  float: left;
  display: inline-block;
}
.login .col-login .grad {
  height: 100%;
  background: #180f3a;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #180f3a 0%, #0eb779 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #180f3a 0%, #0eb779 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #180f3a 0%, #0eb779 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color2', endColorstr='@color', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  text-align: center;
}
.login .col-login .grad .small-container {
  padding-top: 50px;
  width: 400px;
  margin: auto;
}
.login .col-login .grad .small-container .title-icon {
  font-size: 320%;
  margin-bottom: 15px;
}
.login .col-login .grad .small-container .title {
  font-size: 300%;
  margin-bottom: 15px;
}
.login .col-login .grad .small-container .subtitle {
  font-size: 150%;
  margin-bottom: 25px;
}
.login .col-login .grad .small-container .social {
  font-size: 170%;
}
.login .col-login .grad .small-container .social .fa {
  margin: 5px;
}
.login .col-login .grad .small-container .important-btn {
  background: #0eb779;
  color: #fff;
  border-radius: 30px;
  padding: 15px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  outline: none;
}
.login .col-login .grad .small-container .important-btn:hover {
  background: #30d99b;
}
.login .col-login .grad .small-container .footer {
  margin-top: 30px;
  font-size: 80%;
}
.login .col-login .grad .small-container hr {
  border-color: #fff;
}
.login .col-login .grad .small-container a {
  color: #fff;
  text-decoration: underline;
}
.login .col-login .white-col {
  text-align: center;
}
.login .col-login .white-col .small-container {
  padding-top: 50px;
  width: 300px;
  margin: auto;
  position: relative;
}
.login .col-login .white-col .small-container .left-aligned-text {
  text-align: left;
}
.login .col-login .white-col .small-container .author {
  color: #91A193;
  font-size: 90%;
}
.login .col-login .white-col .small-container .header {
  margin-bottom: 30px;
}
.login .col-login .white-col .small-container .important-btn {
  background: #0eb779;
  color: #fff;
  border-radius: 30px;
  padding: 15px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  outline: none;
}
.login .col-login .white-col .small-container .important-btn:hover {
  background: #00a668;
}
.login .col-login .white-col .small-container .other-btn {
  border-radius: 30px;
  padding: 15px 40px;
  margin-top: 20px;
}
