.navigation {
  float: left;
  height: 100%;
  width: 250px;
  background: #130d3f;
  transition: all linear 0.3s;
}
.navigation .user-box {
  height: 80px;
  overflow: hidden;
  padding: 16px;
  color: #fff;
  background: #241e50;
}
.navigation .user-box img.user-img {
  width: 50px;
  border: 3px solid #fff;
  display: inline-block;
  border-radius: 50%;
  float: left;
}
.navigation .user-box .user-details {
  padding-left: 20px;
  padding-top: 5px;
  display: inline-block;
}
.navigation .user-box .username {
  font-size: 100%;
  font-weight: bold;
}
.navigation .nav-box a {
  display: block;
  color: #fff;
  padding: 15px;
  padding-left: 20px;
  text-decoration: none;
}
.navigation .nav-box a.active {
  background: #241e50;
}
.navigation .nav-box a:hover {
  background: #464072;
}
.navigation .nav-box .title {
  margin-left: 10px;
}
.navigation.hidden-nav {
  width: 80px;
}
.navigation.titles-hidden .user-box .user-details {
  display: none;
}
.navigation.titles-hidden .nav-box a {
  padding-left: 30px;
}
.navigation.titles-hidden .nav-box .title {
  display: none;
}
@media (max-width: 992px) {
  .navigation {
    width: 80px;
  }
  .navigation .user-box .user-details {
    display: none;
  }
  .navigation .nav-box a {
    padding-left: 30px;
  }
  .navigation .nav-box .title {
    display: none;
  }
  .navigation.hidden-nav {
    width: 0;
  }
  .navigation.titles-hidden .user-box {
    display: none;
  }
  .navigation.titles-hidden .nav-box a {
    display: none;
  }
}
@media (max-width: 992px) {
  .navigation {
    width: 0px;
  }
}
.navbar {
  display: none;
  padding: 0 10px 0 10px;
}
@media (max-width: 700px) {
  .navbar {
    display: block;
    margin-bottom: 0;
    border: none;
    color: #fff;
    background: #008e6b;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #008e6b 0%, #0eb779 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #008e6b 0%, #0eb779 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #008e6b 0%, #0eb779 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008e6b', endColorstr='@color', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
  }
  .navbar .navbar-brand {
    color: #fff;
    margin-left: 20px;
  }
  .navbar .navbar-toggle {
    border-color: #fff;
  }
  .navbar .navbar-toggle:hover {
    background-color: #008e6b;
  }
  .navbar .navbar-form {
    border-color: #0eb779;
  }
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #fff;
}
