<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3>Курси</h3>
      </div>
      <!-- Panel body -->
      <div class="panel-body">
        <form class="form-inline pull-right">
          <div class="form-group">
            <div class="col-md-12 pad-right-rem">
              <input type="text" class="form-control" placeholder="Пошук">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" ng-click="vm.createNewCourseEntry()">Почати новий</button>
        </form>
        <div>
          <uib-tabset >
            <uib-tab>
              <uib-tab-heading>
                Каталог
              </uib-tab-heading>
              <div class="row">
                <div class="col-md-12">
                  <h4>Каталог усіх можливих кусів</h4>
                  <p>
                    Данний каталог складає спсок усіх доступних курсів у системі. Список відсортований за обрним фільтром. Додавати курси у каталог можуть лише користувачі із <a href="">відповідними правами</a>. Якщо ви бажаєте додавати нові курси у каталог але не маєте цієї можлевості зверніться до адміністратора
                  </p>
                  <small class="help-block" ng-show="vm.model.courses.length == 0">Курсів назараз немає</small>
                  <div class="table-responsive">
                    <table class="table table-hover" ng-show="vm.model.courses.length > 0">
                      <thead>
                        <tr>
                          <th>Назва</th>
                          <th>Створений</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="item in vm.model.courses" style="cursor:pointer">
                          <td ng-click="vm.viewCourse(item)">{{item.name}}</td>
                          <td ng-click="vm.viewCourse(item)">{{item.createdDate | date : 'MMM d, y h:mm:ss a' }}</td>
                          <td>
                            <button type="button" class="btn btn-default btn-xs" ng-click="vm.deleteCourse(item._id)">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </uib-tab>
            <uib-tab>
              <uib-tab-heading>
                Діючі
              </uib-tab-heading>
              <div class="row">
                <div class="col-md-12">
                  <h4>Діючі курси</h4>
                  <p>
                    Список складають усі діючі курси на данний момент часу. На ці курси є можливість записатись для студентів, а також переглянути інформацію про їх успішність, скаладені іспити та отримані завдання
                  </p>
                  <small class="help-block" ng-show="vm.model.courseEntries.length == 0">Початих курсів назараз немає</small>
                  <table class="table table-hover" ng-show="vm.model.courseEntries.length > 0">
                    <thead>
                      <tr>
                        <th>Назва</th>
                        <th>Створений</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in vm.model.courseEntries" style="cursor:pointer">
                        <td ng-click="vm.viewCourseEntry(item)">{{item.name}}</td>
                        <td ng-click="vm.viewCourseEntry(item)">{{item.createdDate | date : 'MMM d, y h:mm:ss a' }}</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs" ng-click="vm.deleteCourseEntry(item._id)">Delete</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </uib-tab>
            <uib-tab>
              <uib-tab-heading>
                Мої
              </uib-tab-heading>
              <div class="row">
                <div class="col-md-12">
                  <h4>Ваші курси</h4>
                  <p>
                    Даний список складають курси в котрих ви є викладачем. Ви маєте можливість запрошувати студентів до цих курсів, створювати для даних курсів завдання, а також перевіряти успішність ваших студентів
                  </p>
                  <small class="help-block" ng-show="vm.model.myCourses.length == 0">Ваших курсів назараз немає</small>
                  <table class="table table-hover" ng-show="vm.model.myCourses.length > 0">
                    <thead>
                      <tr>
                        <th>Назва</th>
                        <th>Створений</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in vm.model.myCourses"  style="cursor:pointer">
                        <td ng-click="vm.viewCourseEntry(item)">{{item.name}}</td>
                        <td ng-click="vm.viewCourseEntry(item)">{{item.createdDate | date : 'MMM d, y h:mm:ss a' }}</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs" ng-click="vm.deleteCourseEntry(item._id)">Delete</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
        
      </div>
      <!-- Panel body (end) -->
      <div class="panel-footer">
        <button type="submit" class="btn btn-primary" ng-click="vm.createNewCourse()">Створити новий</button>
      </div>
    </div>
  </div>
</div>
