<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="submit" class="btn btn-default" ui-sref="content.courses">Усі курси</button>
        <center><h2>{{vm.model.courseEntryItem.name}}</h2></center>
      </div>
      <!-- Panel body -->
      <div class="panel-body">
        <div class="row"><label>Створений</label>: {{vm.model.courseEntryItem.createdDate | date : 'MMM d, y h:mm:ss a' }}</div>
        <div class="row"><label>Курс</label>: <a ui-sref="content.course_item({id:vm.model.courseEntryItem._course._id})" class="underline">{{vm.model.courseEntryItem._course.name}}</a></div>
        <div class="row"><label>Статус</label>: {{vm.model.courseEntryItem.active ? 'Активний' : 'Неактивний'}}</div>
        <div class="row">{{vm.model.courseEntryItem.startDate |date : 'MMM d, y h:mm:ss a' }} - {{vm.model.courseEntryItem.endDate |date : 'MMM d, y h:mm:ss a' }} </div>
        <hr>

        <uib-tabset style="margin:10px;">

          <!-- Task entries -->
          <uib-tab>
            <uib-tab-heading>
              Видані завдання
            </uib-tab-heading>
            <br>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-hover" ng-show="vm.model.courseEntryItemTaskEntries.length > 0">
                  <thead>
                    <tr>
                      <th>Назва</th>
                      <th>Опис</th>
                      <th>Студент</th>
                      <th>Видано</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in vm.model.courseEntryItemTaskEntries">
                      <td><a ui-sref="content.task_e_item({id:item._id})" class="underline">{{item._task.name}}</a></td>
                      <td>{{item._task.description}}</td>
                      <td><a ui-sref="content.student_item({id:item._id})" class="underline">{{item._student._user.firstName}} {{item._student._user.lastName}}</a></td>
                      <td>{{item.createdDate | date : 'MMM d, y h:mm:ss a' }}</td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs" ng-click="vm.deleteTaskEntry(item._id)">Видалити</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
              
          </uib-tab>
          <!-- Task entries (END) -->

          <!-- Students -->
          <uib-tab>
            <uib-tab-heading>
              Студенти
            </uib-tab-heading>
            <br>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-hover" ng-show="vm.model.courseEntryItemStudents.length > 0">
                  <thead>
                    <tr>
                      <th>Ім'я</th>
                      <th>Пошта</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in vm.model.courseEntryItemStudents">
                      <td><a ui-sref="content.student_item({id:item._id})" class="underline">{{item._user.firstName}} {{item._user.lastName}}</a></td>
                      <td>{{item._user.email}}</td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs" ng-click="vm.deleteStudent(item._id)">Видалити</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </uib-tab>
          <!-- Students (END) -->

        </uib-tabset>

      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-primary" ng-click="vm.createTaskEntry()">Назначити завдання</button>
        <button type="button" class="btn btn-primary" ng-click="vm.createStudent()">Додати студента</button>
      </div>
    </div>
  </div>
</div>