<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h3>Курси</h3>
			</div>
			<!-- Panel body -->
			<div class="panel-body">
				<form class="form-inline pull-right">
					<div class="form-group">
						<div class="col-md-12 pad-right-rem">
							<input type="text" class="form-control" placeholder="Пошук">
    					<span class="glyphicon glyphicon-search form-control-feedback"></span>
						</div>
					</div>
					<div class="btn-group" uib-dropdown is-open="status.isopen">
    				<button id="filter" type="button" style="width: 180px; text-align: left" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
    			    {{vm.util.filters[vm.model.activeFilter]}} 
    			    <span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="float: right; font-size: 10px; margin-top: 4px;"></span>
    			  </button>
    			  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="filter">
    			    <li role="menuitem">
    			    	<a ng-click="vm.model.activeFilter = 'popular'">Популярні</a></li>
    			    <li role="menuitem">
    			    	<a ng-click="vm.model.activeFilter = 'created'">Створені нещодавно</a></li>
    			    <li role="menuitem">
    			    	<a ng-click="vm.model.activeFilter = 'updated'">Оновлені нещодавно</a></li>
    			  </ul>
    			</div>
					<button type="submit" class="btn btn-primary" ng-click="vm.startCourse()">Почати новий</button>
				</form>
				<div>
					<uib-tabset >
	  			  <uib-tab>
	  			    <uib-tab-heading>
	  			      Каталог
	  			    </uib-tab-heading>
	  			    <div class="row">
	  			    	<div class="col-md-12">
	  			    		<h4>Каталог усіх можливих кусів</h4>
	  			    		<p>
	  			    			Данний каталог складає спсок усіх доступних курсів у системі. Список відсортований за обрним фільтром. Додавати курси у каталог можуть лише користувачі із <a href="">відповідними правами</a>. Якщо ви бажаєте додавати нові курси у каталог але не маєте цієї можлевості зверніться до адміністратора
	  			    		</p>
	  			    		<small class="help-block" ng-show="vm.model.courses().length == 0">Курсів назараз немає</small>
	  			    		<table class="table" ng-show="vm.model.courses().length > 0">
										<thead>
										  <tr>
										  	<th></th>
										    <th>Назва</th>
										    <th>Рейтинг</th>
										    <th>Перегляди</th>
										    <th>Створений</th>
										  </tr>
										</thead>
										<tbody>
										  <tr ng-repeat="item in vm.model.courses()">
										  	<td><a href>Редагувати</a></td>
										    <td>{{item.name}}</td>
										    <td>{{item.grade}}</td>
										    <td>{{item.views}}</td>
										    <td>{{item.createdDate | date : 'MMM d, y h:mm:ss a' }}</td>
										  </tr>
										</tbody>
									</table>
	  			    	</div>
	  			    </div>
	  			  </uib-tab>
	  			  <uib-tab>
	  			    <uib-tab-heading>
	  			      Діючі
	  			    </uib-tab-heading>
	  			    <div class="row">
	  			    	<div class="col-md-12">
	  			    		<h4>Діючі курси</h4>
	  			    		<p>
	  			    			Список складають усі діючі курси на данний момент часу. На ці курси є можливість записатись для студентів, а також переглянути інформацію про їх успішність, скаладені іспити та отримані завдання
	  			    		</p>
	  			    		<small class="help-block" ng-show="vm.model.courseEntries().length == 0">Початих курсів назараз немає</small>
	  			    		<table class="table" ng-show="vm.model.courseEntries().length > 0">
										<thead>
										  <tr>
										  	<th></th>
										    <th>Назва</th>
										    <th>Рейтинг</th>
										    <th>Перегляди</th>
										    <th>Створений</th>
										  </tr>
										</thead>
										<tbody>
										  <tr ng-repeat="item in vm.model.courseEntries()">
										  	<td><a href>Редагувати</a></td>
										    <td>{{item._course.name}}</td>
										    <td>{{item.grade}}</td>
										    <td>{{item.views}}</td>
										    <td>{{item.createdDate | date : 'MMM d, y h:mm:ss a' }}</td>
										  </tr>
										</tbody>
									</table>
	  			    	</div>
	  			    </div>
	  			  </uib-tab>
	  			  <uib-tab>
	  			    <uib-tab-heading>
	  			      Архівовані
	  			    </uib-tab-heading>
	  			    <div class="row">
	  			    	<div class="col-md-12">
	  			    		<h4>Архівовані курси</h4>
	  			    		<p>
	  			    			Дані курсі більше не активні. У стідентів більше немає можливості на них записатись, але віклададачі мають можливість переглядати інформацію про дані курси. Користувачі наділені <a href="">відповідними правами</a> можіть дані курси активувати. Зверніться до адміністратора, якщо вам необхідна ця можливість
	  			    		</p>
	  			    		<small class="help-blockt" ng-show="vm.model.archivedCourses.length == 0">Архівованих курсів назараз немає</small>
	  			    		<table class="table" ng-show="vm.model.archivedCourses.length > 0">
										<thead>
										  <tr>
										  	<th></th>
										    <th>Назва</th>
										    <th>Рейтинг</th>
										    <th>Перегляди</th>
										    <th>Створений</th>
										  </tr>
										</thead>
										<tbody>
										  <tr ng-repeat="item in vm.model.archivedCourses">
										  	<td><a href>Редагувати</a></td>
										    <td>{{item._course.name}}</td>
										    <td>{{item.grade}}</td>
										    <td>{{item.views}}</td>
										    <td>{{item.createdDate | date : 'MMM d, y h:mm:ss a' }}</td>
										  </tr>
										</tbody>
									</table>
	  			    	</div>
	  			    </div>
	  			  </uib-tab>
	  			  <uib-tab>
	  			    <uib-tab-heading>
	  			      Мої
	  			    </uib-tab-heading>
	  			    <div class="row">
	  			    	<div class="col-md-12">
	  			    		<h4>Ваші курси</h4>
	  			    		<p>
	  			    			Даний список складають курси в котрих ви є викладачем. Ви маєте можливість запрошувати студентів до цих курсів, створювати для даних курсів завдання, а також перевіряти успішність ваших студентів
	  			    		</p>
	  			    		<small class="help-block" ng-show="vm.model.myCourses.length == 0">Ваших курсів назараз немає</small>
	  			    		<table class="table" ng-show="vm.model.myCourses.length > 0">
										<thead>
										  <tr>
										  	<th></th>
										    <th>Назва</th>
										    <th>Рейтинг</th>
										    <th>Перегляди</th>
										    <th>Створений</th>
										  </tr>
										</thead>
										<tbody>
										  <tr ng-repeat="item in vm.model.myCourses">
										  	<td><a href>Редагувати</a></td>
										    <td>{{item._course.name}}</td>
										    <td>{{item.grade}}</td>
										    <td>{{item.views}}</td>
										    <td>{{item.createdDate | date : 'MMM d, y h:mm:ss a' }}</td>
										  </tr>
										</tbody>
									</table>
	  			    	</div>
	  			    </div>
	  			  </uib-tab>
	  			</uib-tabset>
				</div>
				
			</div>
			<!-- Panel body (end) -->
			<div class="panel-footer">
				<button type="submit" class="btn btn-primary" ng-click="vm.createNewCourse()">Створити новий</button>
				<button type="submit" class="btn btn-primary" ng-click="vm.activateCourse()">Активувати</button>
				<button type="submit" class="btn btn-primary" ng-click="vm.removeCourse()">Видалити</button>
				<button type="submit" class="btn btn-primary" ng-click="vm.archivateCourse()">Архівувати</button>
			</div>
		</div>
	</div>
</div>
