<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3>Студенти</h3>
      </div>
      <!-- Panel body -->
      <div class="panel-body">
        <div class="form-group">
          <div class="row">
            <input type="text" class="form-control" placeholder="Пошук" ng-model="vm.model.searchStudent">
          </div>
        </div>
        <div class="row">
            <!-- Students -->
          <div class="table-responsive">
            <table class="table table-hover" ng-show="vm.model.studentUsers.length > 0">
              <thead>
                <tr>
                  <th>Ім'я</th>
                  <th>Пошта</th>
                  <th>Дата реєстрації.</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in vm.model.studentUsers | filter : vm.model.searchStudent">
                  <td><a ui-sref="content.student_item({id:item._id})" class="underline">{{item.firstName}} {{item.lastName}}</a></td>
                  <td>{{item.email}}</td>
                  <td>{{item.createdDate  | date : 'MMM d, y h:mm:ss a' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        <!-- Students (END)-->
        </div>
      </div>
      <!-- Panel body (end) -->
    </div>
  </div>
</div>