<div class="row login">
	<div class="col-login gr">
		<div class="grad">
			<div class="small-container">
				<div class="title-icon">
					<i class="fa fa-graduation-cap" aria-hidden="true"></i>
				</div>
				<div class="title">
					Yolo-LMS
				</div>
				<div class="subtitle">
					Краща українська освітня система
				</div>
				<div class="text">
					Yolo-LMS - перша українська освітня система що розроблена та працює у хмарі. Ніяких підручників та зошитів! Ніяких додаткових програм! <a class="link-item" ui-sref="login.signup">Реєструйся</a> та отримуй найкращу освіту прямо зараз. Ми чекаємо на тебе!
				</div>
				<div>
				  <button type="submit" class="btn btn-default important-btn" ui-sref="login.signup">Зареєструватись</button>  
				</div>
				<hr>
				<div class="social">
					<a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
					<a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
					<a href=""><i class="fa fa-telegram" aria-hidden="true"></i></a>
					<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href=""><i class="fa fa-vk" aria-hidden="true"></i></a>
				</div>
				<div class="footer">
					Designed and created by v.borsh@synebo.io
				</div>
			</div>
		</div>
	</div>
	<div class="col-login w">
		<div class="white-col">
			<div class="small-container">
				<div ui-view="main" class="fade-down"></div>
			</div>
		</div>
	</div>
</div>
