<div ng-controller="NavigationController as navbar">
	<div class="user-box">
		<img src="assets/avat.png" alt="" class="user-img">
		<div class="user-details">
			<div class="username">{{navbar.model.username()}}</div>
			<div class="position"><small>{{navbar.model.role()}}</small></div>
		</div>
	</div>
	<div class="nav-box">

		<a ng-repeat="item in navbar.model.nav" ui-sref="{{item.link}}" href="">
			<i class="fa {{item.icon}}" aria-hidden="true"></i> 
			<span class="title">{{item.label}}</span>
		</a>

	</div>
</div>
