<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Домашня сторінка</h3>
		</div>
			<div class="panel-body">
				<uib-tabset >
					<!-- Course entries -->
          <uib-tab>
            <uib-tab-heading>
              Мої курси
            </uib-tab-heading>
            <br>
            <div class="row">
              <div class="col-md-12">
                <small class="help-block" ng-show="vm.model.courseEntries.length == 0">Початих курсів назараз немає</small>
                <table class="table table-hover" ng-show="vm.model.courseEntries.length > 0">
                  <thead>
                    <tr>
                      <th>Назва</th>
                      <th>Головний курс</th>
                      <th>Створений</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in vm.model.courseEntries | filter : vm.model.serachCourse">
                      <td><a ui-sref="content.course_e_item({id:item._id})" class="underline">{{item.name}}</a></td>
                      <td><a ui-sref="content.course_item({id:item._course._id})" class="underline">{{item._course.name}}</a></td>
                      <td>{{item.createdDate | date : 'MMM d, y h:mm:ss a' }}</td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs" ng-click="vm.deleteCourseEntry(item._id)">Видалити</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </uib-tab>
          <!-- Course entries (END) -->
          <!-- Task entries -->
          <uib-tab>
            <uib-tab-heading>
              Мої завдання
            </uib-tab-heading>
            <br>
            <div class="row">
              <div class="col-md-12">
                <small class="help-block" ng-show="vm.model.taskEntries.length == 0">Завдань немає</small>
                <table class="table table-hover" ng-show="vm.model.taskEntries.length > 0">
                  <thead>
                    <tr>
                      <th>Назва</th>
                      <th>Потік</th>
                      <th>Студент</th>
                      <th>Видано</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in vm.model.taskEntries">
                      <td><a ui-sref="content.task_e_item({id:item._id})" class="underline">{{item._task.name}}</a></td>
                      <td><a ui-sref="content.course_e_item({id:item._courseEntry._id})" class="underline">{{item._courseEntry.name}}</a></td>
                      <td>{{item._student._user.firstName}} {{item._student._user.lastName}}</td>
                      <td>{{item.createdDate | date : 'MMM d, y h:mm:ss a' }}</td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs" ng-click="vm.deleteTaskEntry(item._id)">Видалити</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </uib-tab>
          <!-- Task entries (END) -->
          <!-- Students -->
          <uib-tab>
            <uib-tab-heading>
              Мої студенти
            </uib-tab-heading>
            <br>
            <div class="row">
              <div class="col-md-12">
                <small class="help-block" ng-show="vm.model.students.length == 0">Студентів немає</small>
                <table class="table table-hover" ng-show="vm.model.students.length > 0">
                  <thead>
                    <tr>
                      <th>Ім'я</th>
                      <th>Пошта</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in vm.model.students">
                      <td><a ui-sref="content.student_item({id:item._id})" class="underline">{{item._user.firstName}} {{item._user.lastName}}</a></td>
                      <td>{{item._user.email}}</td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs" ng-click="vm.deleteStudent(item._id)">Видалити</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </uib-tab>
          <!-- Students -->
        </uib-tabset>
			</div>
		</div>
	</div>
</div>