<div class="modal-header">
  <h3 class="modal-title">Робота на перевірку</h3>
</div>
<div class="modal-body">
  <form novalidate="true">
    <div class="form-group"> 
      <label>Детальний опис завдання</label>
      <div text-angular="text-angular" name="body" ng-model="mod.model.body"></div>
    </div>
  </form>
  <div uib-alert ng-repeat="alert in mod.util.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="mod.closeAlert($index)">{{alert.msg}}</div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" ng-click="mod.saveWork()">Створити</button>
  <button type="submit" class="btn btn-default" ng-click="mod.close()">Закрити</button>
</div>