<div class="modal-header">
  <h3 class="modal-title">Нове завдання</h3>
</div>
<div class="modal-body">
  <form novalidate="true">
    <div class="form-group">
      <label>Головний курс</label>
      <small class="help-block">Оберіть курс із переліку запропонованих</small>
      <div class="row">
        <div class="col-md-12 pad-left-rem pad-right-rem">
          <span uib-dropdown style="width:100%">
            <input type="text" class="form-control" id="courses" 
              ng-model="mod.util.course"
              ng-disabled="mod.util.coursesFct.lectureCoursePreset"
              uib-dropdown-toggle>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" style="width:100%">
              <li ng-repeat="course in mod.util.coursesFct.courses | filter : mod.util.course">
                <a href
                ng-click="mod.setCourse(course)">{{course.name}}</a>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label >Назва:</label>
      <input type="text" class="form-control" ng-model="mod.model.name">
    </div>
    <div class="form-group">
      <label >Опис:</label>
      <small class="help-block">Запишіть короткий опис для більшої інформативності</small>
      <textarea class="form-control" rows="3" ng-model="mod.model.description"></textarea>
    </div>
  </form>
  <div uib-alert ng-repeat="alert in mod.util.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="mod.closeAlert($index)">{{alert.msg}}</div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" ng-click="mod.createNewTask()">Створити</button>
  <button type="submit" class="btn btn-default" ng-click="mod.close()">Закрити</button>
</div>