<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="submit" class="btn btn-default"
          ui-sref="content.tasks">Усі завдання</button>
        <button type="submit" class="btn btn-primary"
          ng-click="vm.createTaskResult()">Скласти відповідь
        </button>
        <center><h2>{{vm.model.taskEntryItem._task.name}}</h2></center>
      </div>
      <!-- Panel body -->
      <div class="panel-body">
        <div class="row"><label>Дата створення</label>: {{vm.model.taskEntryItem.createdDate}}</div>
        <div class="row"><label>Потік</label>: <a ui-sref="content.course_e_item({id:vm.model.taskEntryItem._courseEntry._id})" class="underline">{{vm.model.taskEntryItem._courseEntry.name}}</a></div>
        <div class="row"><label>Курс</label>: <a ui-sref="content.course_item({id:vm.model.taskEntryItem._courseEntry._course._id})" class="underline">{{vm.model.taskEntryItem._courseEntry._course.name}}</a></div>
        <div class="row">{{vm.model.taskEntryItem._task.description}}</div>
        <hr>
        <uib-tabset >
          <!-- Task info -->
          <uib-tab>
            <uib-tab-heading>
              Завдання
            </uib-tab-heading>
            <br>
            <label>Назва</label>:
            <a ui-sref="content.task_item({id:vm.model.taskEntryItem._task._id})" class="underline">{{vm.model.taskEntryItem._task.name}}</a>
            <h3>Тести</h3>
            <div ng-repeat="item in vm.model.taskTests">
              <hr>
              <div class="row">
                <div class="col-md-10">
                  <div ng-repeat="q in item.questions" style="margin-bottom: 10px;">
                    <div><b>{{q.question}}</b> <span ng-if="q.correctAnswer">{{q.correctAnswer}}</span></div>
                    <div ng-repeat="a in q.answers track by $index">{{$index+1}}) {{a}}</div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <h3>Роботи</h3>
            <div ng-repeat="item in vm.model.taskWorks">
              <hr>
              <div class="row">
                <div class="col-md-10">
                  <div ng-bind-html="item.body"></div>
                </div>
              </div>
            </div>
          </uib-tab>
          <!-- Task info (END) -->
          <!-- Task results-->
          <uib-tab>
            <uib-tab-heading>
              Виконання
            </uib-tab-heading>
            <br>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-hover" ng-show="vm.model.taskEntryTaskResults.length > 0">
                  <thead>
                    <tr>
                      <th>Назва</th>
                      <th>Студент</th>
                      <th>Оцінка</th>
                      <th>Виконано</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in vm.model.taskEntryTaskResults">
                      <td><a ui-sref="content.task_result({id:item._id})" class="underline">{{item._taskEntry._task.name}}</a></td>
                      <td><a ui-sref="content.student_item({id:item._student._user._id})" class="underline">{{item._student._user.firstName}} {{item._student._user.lastName}}</a></td>
                      <td>{{item.mark}}</td>
                      <td>{{item.createdDate | date : 'MMM d, y h:mm:ss a' }}</td>
                      <td>
                        <button type="button" class="btn btn-default btn-xs" ng-click="vm.deleteTaskResult(item._id)">Видалити</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
          </uib-tab>
          <!-- Task results (END) -->
        </uib-tabset>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
</div>