<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="submit" class="btn btn-default"
          ui-sref="content.tasks">Усі завдання</button>
        <h2>{{vm.model.taskItem.name}}</h2>
      </div>
      <!-- Panel body -->
      <div class="panel-body">
        <p>Створена: {{vm.model.taskItem.createdDate}}</p>
        <p>{{vm.model.taskItem.description}}</p>
        <hr>

        <!-- Tests -->
        <h3>Тести</h3>
        <button type="button" class="btn btn-primary" ng-click="vm.createTest()" style="margin-bottom: 10px;">Створити</button>
        <div ng-repeat="item in vm.model.taskTests">
          <hr>
          <div class="row">
            <div class="col-md-10">
              <div ng-repeat="q in item.questions" style="margin-bottom: 10px;">
                <div><b>{{q.question}}</b> <span ng-if="q.correctAnswer">{{q.correctAnswer}}</span></div>
                <div ng-repeat="a in q.answers track by $index">{{$index+1}}) {{a}}</div>
              </div>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-default btn-xs" ng-click="vm.deleteTest(item._id)">Видалити
              </button>
            </div>
          </div>
        </div>
        <!-- Tests (END) -->

        <!-- Works -->
        <hr>
        <h3>Роботи на виконання</h3>
        <button type="button" class="btn btn-primary" ng-click="vm.createWork()" style="margin-bottom: 10px;">Створити</button>
        <div ng-repeat="item in vm.model.taskWorks">
          <hr>
          <div class="row">
            <div class="col-md-10">
              <div ng-bind-html="item.body"></div>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-default btn-xs" ng-click="vm.deleteWork(item._id)">Видалити
              </button>
            </div>
          </div>
        </div>
        
        <!-- Works (END) -->

    </div>
  </div>
</div>