<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Результати пошуку</h3>
      </div>
      <div class="panel-body">
        <br>
        <div class="row">
          <div class="col-md-12">
            <small ng-hide="vm.model.searchResults.length > 0">По вашому запиту нічого не знайдено</small>
            <table class="table table-hover" ng-show="vm.model.searchResults.length > 0">
              <thead>
                <tr>
                  <th>Назва</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in vm.model.searchResults">
                  <td><a ng-click="vm.viewItem(item)" class="underline">{{item.name}}</a></td>
                  <td>{{item.type}}</td>
                  <td>{{item.createdDate  | date : 'MMM d, y h:mm:ss a' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>